<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>nz.ophelia.service</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/ophelia-service</string>
    <key>MachServices</key>
    <dict>
        <key>nz.ophelia.service</key>
        <true/>
    </dict>
    <key>KeepAlive</key>
    <false/>
    <key>ProcessType</key>
    <string>Interactive</string>
</dict>
</plist>
